body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/* PURPLE BAR, LOGO, COVER PHOTO */

header {
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-bottom: 0.5em;
	height: 2.25em;
	background-color: #501f84; /* this is NBN purple */
	display: block;
	margin: 0 auto;
	width: 100%;
}

#logo {
	width: 2.25em;
	margin: 0 auto;
}

.cover-img{
	width: 85%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	height: auto;
}

.caption {
	color: #aaaaaa;
	font-weight: 300;
	font-size: 0.75em;
	font-family: "Roboto", sans-serif;
	text-align: right;
	margin-top: 40px;
	padding-right: 2em;
}

/* HEADLINE, SUBHEAD, BYLINE AND HORIZONTAL RULE */

#hed-dek {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 3em;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-size: 1.1em;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	background-color: rgba(255,255,255,0.5);
}

h3 {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 1.2em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

h3 a {
	color: #000;
}

hr {
	width: 10em;
	margin-bottom: 3em;
}

/* BODY */

.body-text {
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
	font-family: "Georgia", serif;
	font-size: 1.1em;
	line-height: 1.8em;
}

.center {
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
}

.subhead {
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: underline;
	color: #9a0505;
	font-size: 1.2em;
	padding-top: 1.8em;
}

a {
	text-decoration: none;
	color: #9a0505;
}

a:hover{
	text-decoration: underline;
}

/* IMAGES */

.inline-img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.inline-img-lg {
	width: 65%;
	max-width: 850px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

figcaption {
	color: #aaaaaa;
	font-weight: 300;
	font-size: 0.9em;
	font-family: "Roboto", sans-serif;
	line-height: 1.25em;
}

figure {
	margin-top: 3em;
	margin-bottom: 3em;
}

/* QUOTES */

.quote {
	display: block;
	width: 300px;
	color: #555555;
	font-size: 1.25em;
	font-weight: 300;					/* NEW */
	line-height: 1.5em;
	display: block;
	font-family: "Roboto", sans-serif;					/* NEW */
	margin-bottom: 40px;
	margin-top: 40px;
}

.right{
	float: right;
	margin-right: 20%;
	margin-left: 2em;
	padding-left: 2em;
	border-left: 1px solid #9a0505;
	border-top: none;
	border-bottom: none;
	border-right: none;
}

.left {
	float: left;
	text-align: right;
	margin-right: 2em;
	margin-left: 20%;
	padding-right: 2em;
	border-right: 1px solid #9a0505;
	border-top: none;
	border-bottom: none;
	border-left: none;
}

/* FOOTER BAR, FOOTER TEXT */

footer {
	padding-right: 0.5em;
	height: 5em;
	background-color: #501f84; /* this is NBN purple */
	display: block;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer p {
	color: #ffffff;
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
	font-size: 0.9em;
	font-family: "Roboto", sans-serif;
	line-height: 0.9em;
} 

footer p a {
	color: #ffffff;
}

footer p strong {
	font-weight: 700;
}

/* TABLE */

iframe {
	display: none;
}

	table {
		display: inline;
		margin-right: auto;
		margin-left: auto;
	}

	td {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		font-size: 0.9em;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	tr:hover {
		background-color: #b9a5cd;
	}

	.center-text {
		text-align: center;
	}

	.purple {
		background-color: #dcd2e6;
	}

	.grey {
		background-color: #f2f2f2;
	}

	.table-head {
		text-align: center;
		font-weight: 700;
	}

/*media queries*/
@media screen and (max-width: 600px) {
	#hed-dek{
		width: 100%;
	}

	h1{
		width: 85% auto 0 auto;
		font-size: 3em;
	}

	h2{
		width: 80%;
		margin-left: 10%;
		font-size: 1.2em;
		text-align: center;
	}

	.body-text {
		width: 80%;
	}

	.inline-img, .inline-img-lg, .center {
		width: 100%;
	}

	.quote {
		display: block;
		width: 50%;
		color: #555555;
		font-size: 1em;
		line-height: 1.5em;
		font-family: sans-serif;
		text-align: center;
	}
	
	.right {
		border-top: 1px solid #9a0505;
		border-bottom: 1px solid #9a0505;
		border-right: none;
		border-left: none;
		padding-right: 1.3em;
		margin-left: 1em;
		margin-top: 1em;
		display: block;
	}

	.left {
		display: block;
		border-top: 1px solid #9a0505;
		border-bottom: 1px solid #9a0505;
		border-right: none;
		border-left: none;
		padding-left: 1.3em;
		padding-top: 1em;
		padding-bottom: 1em;
		margin-top: 1em;
	}

	footer {
		padding-right: 0.5em;
		height: 5em;
		background-color: #501f84; /* this is NBN purple */
		display: block;
		width: 100%;
		margin: 0 auto;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	footer p {
		width: 80%;
	}

	iframe {
		display: none;
	}

	table {
		display: inline;
	}
}

@media screen and (min-width: 800px) {
	iframe {
		display: inline;
	}

	table {
		display: none;
	}
}
