body {
	margin: 0;
}


header {
	padding: 0.5em;
	height: 2.25em;
	background-color: #501f84; /* this is NBN purple */
	display: block;
	margin: 0 auto;
/* PURPLE BAR, LOGO, COVER PHOTO */
}

#logo {
	width: 2.25em;
}

.cover-img{
	width: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: auto;
}

/* HEADLINE, SUBHEAD, BYLINE AND HORIZONTAL RULE */

#hed-dek {
	width: 90%;
	margin-right: auto;					/* NEW */
	margin-left: auto;					/* NEW */
	}

	h1 {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		font-size: 5em;
		font-family: "Roboto", sans-serif;					/* NEW */
		font-weight: 900;					/* NEW */
		text-transform: uppercase;
		text-align: center;				/* NEW */
		color: black;					/* NEW */
	}

	h2 {
		font-size: 1.1em;
		text-align: center;
		font-family: "Roboto", sans-serif;					/* NEW */
		font-weight: 400;					/* NEW */
		font-size: 1.5em;
		background-color: rgba(255,255,255,0.5);
	}

	h3 {
		text-align: center;
		font-family: "Roboto", sans-serif;					/* NEW */
		font-weight: 700;					/* NEW */
		font-size: 1.2em;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
	}

h3 a {
	color: #000000;					/* NEW */
}

hr {
	width: 10em;
	margin-bottom: 3em;
}

/* BODY */

.body-text {
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
	font-family: "Georgia", serif;
	font-size: 1.1em;
	line-height: 1.8em;
}

.center {
	width: 60%;
	max-width: 630px;
	margin: .75em auto .75em auto;
	text-align: right;
}

.subhead {
	font-weight: 900;					/* NEW */
	font-family: "Roboto", sans-serif;					/* NEW */
	text-transform: uppercase;
	text-decoration: underline;
	padding-top: 1.8em;
}

a {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/* IMAGES */

.portrait {
	width: 100%;
}

figcaption {
	color: #aaaaaa;
	font-weight: 300;					/* NEW */
	font-size: 0.75em;
	font-family: "Roboto", sans-serif;					/* NEW */
	line-height: 1.25em;
	text-align: right;
}

figcaption a {
	color: #501f84;
}

figure {
	width: 450px;
	float: right;
	margin-right: 20%;
	border-top: none;
	border-bottom: none;
	border-right: none;
}

/* QUOTES */


/* FOOTER BAR, FOOTER TEXT */

footer {
	padding-right: 0.5em;
	height: 5em;
	background-color: #501f84; /* this is NBN purple */
	display: block;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer p {
	color: #ffffff;
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
	font-size: 0.9em;
	font-family: "Roboto", sans-serif;					/* NEW */
	font-weight: 400;					/* NEW */
	line-height: 0.9em;
} 

footer p strong {
	font-weight: 700;					/* NEW */
}

footer p a {
	color: #ffffff;
}

/*media queries*/
@media screen and (max-width: 600px) {
	#hed-dek{
		width: 100%;
	}

	h1{
		width: 80% auto 0 auto;					/* NEW */
		font-size: 3em;
		color: #000000;					/* NEW */
		margin-top: 10px;					/* NEW */
	}

	h2{
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		font-weight: 400;
		font-size: 1.2em;
	}

	.body-text {
		width: 80%;
	}

	figure {
		width: 80%;
		margin-right: 10%;
	}

	footer {
		padding-right: 0.5em;
		height: 5em;
		background-color: #501f84; /* this is NBN purple */
		display: block;
		margin: 0 auto;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	footer p {
		width: 80%;						/* ALL THE FOLLOWING IS NEW */
	}
}

@media screen and (min-width: 600px) {
	#hed-dek{
		width: 90%;
	}

	h1{
		width: 85% auto 0 auto;
		font-size: 3em;
		color: black;
	}

	h2{
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.2em;
		margin-top: 40px;
		font-weight: 400;
	}
}


@media screen and (min-width: 1024px) {
	h1 {
		font-size: 5em;
		font-family: "Roboto", sans-serif;					/* NEW */
		font-weight: 900;					/* NEW */
		text-transform: uppercase;
		text-align: center;
		color: black;
	}

	h2 {
		font-size: 1.1em;
		text-align: center;
		font-family: "Roboto", sans-serif;					/* NEW */
		font-weight: 400;					/* NEW */
		font-size: 1.5em;
		background-color: rgba(255,255,255,0.5);
	}

	h3 {
		text-align: center;
		font-family: "Roboto", sans-serif;					/* NEW */
		font-weight: 900;					/* NEW */
		font-size: 1.2em;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	
}