body {
	margin: 0;
	/*background: url('img/classy_fabric.png');*/
}

/* PURPLE BAR, LOGO, COVER PHOTO */

header {
	padding: 0.5em;
	height: 2.25em;
	background-color: #501f84; /* this is NBN purple */
	display: block;
}

#logo {
	width: 2.25em;
}

#hero {
	position: relative;
}

.cover-img{
	width: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	z-index: -1;
	position: relative;
}

/* HEADLINE, SUBHEAD, BYLINE AND HORIZONTAL RULE */

#hed-dek {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.headline {
	right: 100px;
	bottom: 100px;
	padding-right: 0.8em;
	font-size: 3.6em;
	z-index: 100;
	float: right;
	text-align: right;
	color: #ffffff;
	position: absolute;
	line-height: 0.7em;
	border-right: 20px double #b21212;
}

h1 {
	margin: 0.5em 0 0.5em 0;
	text-shadow: 1.5px 1.5px 4px #494848;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
}

.dek {
	font-size: 0.4em;
	text-align: right;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	line-height: 1.2em;
	clear: both;
	text-shadow: 1.5px 1.5px 4px #494848;
	color: #fff;
	padding: 5px;
}

.byline {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 0.3em;
	text-align: right;
	line-height: 1.3em;
	float: right;
	text-shadow: 1.5px 1.5px 4px #494848;
	color: #fff;
	padding: 5px;
}

.byline a {
	color: #fff;
}

/* BODY */

#body-full {
	margin-top: 4em;
}

.body-text {
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
	font-family: "Georgia", serif;
	font-size: 1.1em;
	line-height: 1.8em;
	color: #363636;
}

span.red {
	color: #b21212;
}

.center {
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
}

.footnote {
	width: 45%;
	font-size: 0.9em;
	text-align: center;
	color: #363636;
	margin: 1em auto 0.5em auto;
}

.subhead, .dropcap{
	color: #b21212;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
}

.dropcap {
	font-size: 4em;
}

a {
	text-decoration: none;
	color: #b21212;
}

a:hover{
	text-decoration: underline;
}

/* IMAGES */
.caption {
	color: #aaaaaa;
	font-weight: 300;
	font-size: 0.75em;
	font-family: "Roboto", sans-serif;
	text-align: right;
	margin-top: 5px;
	padding-right: 2em;
}

.caption a {
	color: #501f84;
}

.inline-img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.inline-img-lg {
	width: 80%;
	max-width: 850px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

figcaption {
	color: #aaaaaa;
	font-weight: 300;
	font-size: 0.9em;
	font-family: "Roboto", sans-serif;
	line-height: 1.25em;
}

figure {
	margin-top: 3em;
	margin-bottom: 3em;
}

/* QUOTES */

.quote {
	display: block;
	width: 300px;
	color: #b6b6b6;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.5em;
	display: block;
	font-family: "Roboto", sans-serif;
	margin-bottom: 40px;
	margin-top: 40px;
}

.right{
	float: right;
	margin-right: 20%;
	margin-left: 2em;
	padding-left: 2em;
	border-left: 3px solid #b21212;
}

.left {
	float: left;
	text-align: right;
	margin-right: 2em;
	margin-left: 17%;
	padding-right: 2em;
	border-right: 3px solid #b21212;
}

/* FOOTER BAR, FOOTER TEXT */

footer {
	padding-right: 0.5em;
	height: 5em;
	background-color: #501f84; /* this is NBN purple */
	display: block;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer p {
	color: #ffffff;
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
	font-size: 0.9em;
	font-family: "Roboto", sans-serif;					/* NEW */
	font-weight: 400;					/* NEW */
	line-height: 0.9em;
} 

footer p strong {
	font-weight: 700;					/* NEW */
}

footer p a {
	color: #ffffff;
}
/*media queries*/

@media screen and (max-width: 1000px) {
	.headline {
    	bottom: 30px;
    	padding-right: 0.6em;
    	font-size: 3.1em;
	}

	.body-text {
		width: 60%;
	}

	.quote {
		width: 22%;
	}

	.right{
		margin-right: 10%;
	}

	.left {
		margin-left: 10%;
	}

	footer p {
		width: 60%;				/* ALL THE FOLLOWING IS NEW */
	}
}

@media screen and (max-width: 750px) {
	.headline {
    	bottom: 14px;
    	padding-right: 0.6em;
    	font-size: 2.5em;
    	border-right: 15px double #b21212;
	}

	.body-text {
		font-size: 1em;
	}

	.quote {
		width: 20%;
		font-size: 0.9em;
	}

	.right{
		margin-right: 10%;
	}

	.left {
		margin-left: 10%;
	}

	footer p {
		width: 60%;				/* ALL THE FOLLOWING IS NEW */
	}
}


@media screen and (max-width: 600px) {
	.headline {
		right: 40px;
		font-size: 2em;
	}

	.dek {
		font-size: 0.55em
	}

	p.byline {
		font-size: 0.4em;
		font-weight: 900;
	}

	.body-text {
		width: 80%;
	}

	.inline-img, .inline-img-lg, .center {
		width: 100%;
	}

	.quote {
		width: 60%;
		margin: 40px auto;
		font-size: 1em;
		line-height: 1.5em;
		text-align: center;
	}
	
	.right {
		border-top: 3px solid #b21212;
		border-bottom: 3px solid #b21212;
		border-right: none;
		border-left: none;
		padding-right: 1.3em;
		margin-left: 1em;
		margin-top: 1em;
	}

	.left {
		border-top: 3px solid #b21212;
		border-bottom: 3px solid #b21212;
		border-right: none;
		border-left: none;
		padding-left: 1.3em;
		margin-left: 4em;
		margin-top: 1em;
	}

	footer {
		padding-right: 0.5em;
		height: 5em;
		background-color: #501f84; /* this is NBN purple */
		display: block;
		margin: 0 auto;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	footer p {
		width: 80%;				/* ALL THE FOLLOWING IS NEW */
	}
}

@media screen and (max-width: 500px) {
	.headline {
		border-top: 3px solid #b21212;
		margin-top: 35px;
		padding-top: 30px;
	    font-size: 2.4em;
	    text-align: center;
	    line-height: 0.7em;
	    border-right: none;
	    float: none;
	    position: static;
	}

	h1, .dek, .byline, .byline a {
		color: #000;
		text-shadow: none;
	}

	.dek {
		font-size: 0.55em;
		float: none;
		text-align: center;
	}

	.byline {
		font-size: 0.4em;
		float: none;
		text-align: center;
		padding-bottom: 35px;
		border-bottom: 3px solid #b21212;;
	}
}


