body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/* PURPLE BAR, LOGO, COVER PHOTO */

header {
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-bottom: 0.5em;
	height: 2.25em;
	background-color: #501f84; /* this is NBN purple */
	display: block;
	margin: 0 auto;
}

#logo {
	width: 2.25em;
	margin: 0 auto;
}

.caption {
	color: #aaaaaa;
	font-weight: 300;
	font-size: 0.9em;
	font-family: "Roboto", sans-serif;
	text-align: right;
	margin-top: 0px;
	padding-right: 2em;
}

/* HEADLINE, SUBHEAD, BYLINE AND HORIZONTAL RULE */

#hed-dek {
	width: 90%;
	margin-right: auto;					/* NEW */
	margin-left: auto;					/* NEW */
	}

h1 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 5em;
	font-family: "Roboto", sans-serif;					/* NEW */
	font-weight: 900;					/* NEW */
	text-transform: uppercase;
	text-align: center;				/* NEW */
	color: #ffffff;					/* NEW */
}

h2 {
	font-size: 1.1em;
	text-align: center;
	font-family: "Roboto", sans-serif;					/* NEW */
	font-weight: 400;					/* NEW */
	font-size: 1.5em;
	background-color: rgba(255,255,255,0.5);
}

h3 {
	text-align: center;
	font-family: "Roboto", sans-serif;					/* NEW */
	font-weight: 900;					/* NEW */
	font-size: 1.2em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

h3 a {
	color: #000000;					/* NEW */
	text-decoration: none;
}

h3 a:hover {
	text-decoration: underline;
}

hr {
	width: 10em;
	margin-bottom: 3em;
	border: 2px solid #00a670;
}

#urg {
	color: #00a670;
}

/* BODY */

.body-text {
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
	font-family: "Georgia", serif;
	font-size: 1.1em;
	line-height: 1.8em;
}

.green-text { 
	background-color: #00a670;
	color: #ffffff;
	padding: 25px;
	font-family: "Roboto", sans-serif;
	border-radius: 10px;
}

.center {
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
}

.subhead {
	font-weight: 900;					/* NEW */
	font-family: "Roboto", sans-serif;					/* NEW */
	text-transform: uppercase;
	text-decoration: underline;
	padding-top: 1.8em;
}

p a {
	text-decoration: none;
	color: #008459;
}

a:hover{
	text-decoration: underline;
}

/* IMAGES */

/* QUOTES */

/* FOOTER BAR, FOOTER TEXT */

footer {
	padding-right: 0.5em;
	height: 5em;
	background-color: #501f84; /* this is NBN purple */
	display: block;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer p {
	color: #ffffff;
	width: 45%;
	max-width: 630px;
	margin: .75em auto .75em auto;
	font-size: 0.9em;
	font-family: "Roboto", sans-serif;					/* NEW */
	font-weight: 400;					/* NEW */
	line-height: 0.9em;
} 

footer p strong {
	font-weight: 700;					/* NEW */
}

footer p a {
	color: #ffffff;
}



/*media queries*/
@media screen and (max-width: 600px) {
	#hed-dek{
		width: 100%;
	}

	h1{
		width: 80% auto 0 auto;					/* NEW */
		font-size: 3em;
		color: #000000;					/* NEW */
		margin-top: 10px;					/* NEW */
	}

	h2{
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.2em;
		font-weight: 400;
	}

	.body-text {
		width: 80%;
	}

	footer {
		padding-right: 0.5em;
		height: 5em;
		background-color: #501f84; /* this is NBN purple */
		display: block;
		margin: 0 auto;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	footer p {
		width: 80%;
								/* ALL THE FOLLOWING IS NEW */

	}
}

@media screen and (min-width: 600px) {
	#hed-dek{
		width: 90%;
	}

	h1{
		width: 85% auto 0 auto;
		font-size: 3em;
		color: #000000;			
	}

	h2 {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.2em;
		margin-top: 40px;
		font-weight: 400;
	}
}

@media screen and (min-width: 1024px) {
	h1 {
		font-size: 5em;
		font-family: "Roboto", sans-serif;					/* NEW */
		font-weight: 900;					/* NEW */
		text-transform: uppercase;
		text-align: center;				/* NEW */
		color: #000000;
	}

	h2 {
		font-size: 1.1em;
		text-align: center;
		font-family: "Roboto", sans-serif;					/* NEW */
		font-weight: 400;					/* NEW */
		font-size: 1.5em;
		background-color: rgba(255,255,255,0.5);
	}

	h3 {
		text-align: center;
		font-family: "Roboto", sans-serif;					/* NEW */
		font-weight: 900;					/* NEW */
		font-size: 1.2em;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
	}
}